@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/general.css" rel="stylesheet" />

<style>
    .homecontainer {
        padding-top: 100px;
    }
    .btnhome{
        padding:10%;
    }
</style>

<div class="homecontainer">
    <div class="row">
        <h1 style="text-align:center;">Reportes de SCRAP</h1>
        <div class="col-lg-offset-4 col-md-4">
            <div class="btnhome">
                @Html.ActionLink("BACK-END", "Create", "Tickets",null, new { @class = "btn btn-block btn-primary", style = "font-size:30px;" })
            </div>
            <div class="btnhome">
                @Html.ActionLink("FRONT-END", "Create", "TicketsSMT",null, new { @class = "btn btn-block btn-primary", style="font-size:30px;" })
            </div>
        </div>
    </div>
</div>