@model IEnumerable<Aplicacion_de_SCRAP.Models.AreaScrap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAreaScrap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAreaScrap)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id=item.AreaSCRAPID })
        </td>
    </tr>
}

</table>
